/* Master Styles */

body{
  background-color:#0090B2;
  font-size:100%
}
h1 {
  color: black; 
  font-size: 8.0vw;
  text-align: left;
}
h2 {
  color: black; 
  font-size: 3.0vw;
  text-align: left;
  font-size: 2.5vw;
  text-decoration: none;
}
h3 {
  font-size: 1.75vw;
 
  font-size: 2.5vw;
  text-decoration: none;
}
label {
  color: black; 
  font-size: 2.0vw;

  font-size: 2.5vw;
  text-decoration: none;
}
small {
  font-size: 1.25vw;

  color:#FF490B;
}

.logInButtons{
  margin: 0 auto; 
  width: 50%; 
  
}
.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  color: #00CDFF;
  font-size: 2.5vw;
  background: white;
  text-decoration: none;
  outline: none; 
  border-style: solid;
  border-color:white;

}
form{
  
}
form.label{
  text-align: left !important;
}

.btn:hover {
  background: BLACK;
  color: white;
  text-decoration: none;
}
input[type=text] {
    
}
input[type=email] {

   
   
    
}
input[type=number] {
 
  
    
   
   
    
}
input[type=password] {

 
   
}
.centerd{
   width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#foo{ color: red }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}