/* Master Styles */

body{
  background-image: url("back1.jpg");
    background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white; 
  font-size: 8.0vw;
  text-align: center;
}
h2 {
  color: white; 
  font-size: 3.0vw;
  text-align: left;
  font-size: 2.5vw;
  text-decoration: none;
}
h3 {
  font-size: 1.75vw;
  color: white; 
  font-size: 2.5vw;
  text-decoration: none;
  text-align: center;
}
label {
  color: white; 
  font-size: 2.0vw;

  font-size: 2.5vw;
  text-decoration: none;
}
small {
  font-size: 1.25vw;

  color:#FF490B;
}

.logInButtons{
  margin: 0 auto; 
  width: 50%; 
  
}
div.ngfordiv{
  text-align: center;
  color: white;
}
.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  color: black;
  font-size: 20px;
  padding: 12px;
  background: white;
  text-decoration: none;
  outline: none; 
  border-style: solid;
  border-color:white;
  text-align: center;
  cursor: pointer;
}
form{
  text-align: center;
  
}
form.label{
  text-align: left !important;
}

.btn:hover {
  background: BLACK;
  color: white;
  text-decoration: none;
}
input[type=text] {
    text-align: center;
}
input[type=email] {

   text-align: center;
   
    
}
input[type=number] {
 
  
    
   text-align: center;
   
    
}
input[type=password] {

 text-align: center;
   
}
input[type=radio] {

  text-align: center;
  color:white;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.centerd{
   width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#foo{ color: red }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropbtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
input{
  width: 20%;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  padding-right: 15%;
    max-width: 73px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}